<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
  <head>
    <meta charset="UTF-8">
    <title>Planana</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <title>Welcome to Planana</title>
  </head>

  <body>
    <section class="part1">
      <section class="gif">
        <img src="images/banana.gif" alt="Logo" width=40% height=40%  />
      </section>
    </section>

    <section class="section part2">
      <h1>Welcome to Planana!</h1>
      <p>
        Planana is designed to help you discover new yummy recipes! Search and find amazing
        recipes for the meals you've always wanted to make, and then simply add them to a weekly planner
        so you can keep track of your new culinary discoveries, and even download a shopping list so you don't forget
        any of the ingredients in your next shop! Scroll down to log in and start your delicious new food journey!
      </p>
    </section>

    <section class="part3">
      <section class="next">
        <a href="welcome">Get Started!<a>
      </section>
    </section>
  </body>

</html>
